<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
    </nav>
    <h1>{{ page.title }} Post</h1>
    <section>
      {{ content }}
    </section>
    <footer>
      &copy; to me
    </footer>
  
  <div class="footer">
  
    <div class="contact">
      <p>
        <a href="http://github.com/andylynch/">github.com/andylynch</a><br />
        <a href="linkedin.com/in/andylynch">linkedin.com/in/andylynch</a><br />
      </p>
    </div>
  
  </div>
</div>

<a href="http://github.com/andylynch"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

</body>
</html>
